@model PublicCenter.Models.Worker

@{
    ViewData["Title"] = "CreateWorker";
}

<h2>Create Worker</h2>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWorker" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="DepartmentID" class="control-label"></label>
            <select asp-for="DepartmentID" class ="form-control" asp-items="ViewBag.DepartmentID"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="First_name" class="control-label">First name</label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label">Second name</label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Father_name" class="control-label">Fathers name</label>
                <input asp-for="Father_name" class="form-control" />
                <span asp-validation-for="Father_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label">Sex</label>
                <div class="checkbox">
                    <label asp-for="Sex" class="control-label">Male</label>
                    <input asp-for="Sex" type="radio" name="sex" value="True" />
                    <label asp-for="Sex" class="control-label">Female</label>
                    <input asp-for="Sex" type="radio" name="sex" value="False" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Date_birth" class="control-label">Date of birth</label>
                <input asp-for="Date_birth" class="form-control" />
                <span asp-validation-for="Date_birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                @*<select asp-for="AddressID" class="form-control" asp-items="ViewBag.AddressID"></select>*@
                <br />
                City: <input asp-for="Address.City" class="form-control" />
                District: <input asp-for="Address.District" class="form-control" />
                Address: <input asp-for="Address.Addr" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Phone_stat" class="control-label">Home phone</label>
                <input asp-for="Phone_stat" class="form-control" />
                <span asp-validation-for="Phone_stat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile_phone" class="control-label">Mobile phone</label>
                <input asp-for="Mobile_phone" class="form-control" />
                <span asp-validation-for="Mobile_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passport" class="control-label">Passport code</label>
                <input asp-for="Passport" class="form-control" />
                <span asp-validation-for="Passport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identify_number" class="control-label">Identification code</label>
                <input asp-for="Identify_number" class="form-control" />
                <span asp-validation-for="Identify_number" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            <input asp-for="Role" class="form-control" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


