@model PublicCenter.Models.ExtraModels.LogInModel

@{
    Layout = null;
    ViewData["Title"] = "LogIn";
}

<style>
    
    .form-group
    {
       
    }
</style>
<div id="borderDemo">

        <center>
            <div class="col-md-4">
                <br>
                <form asp-action="LogIn" method="post" style="margin: auto; width: 25%;border: 3px solid;padding: 10px;border-color:#0e074d;">
                    @if(ViewBag.Error!=null)
                    {
                        <span class="text-danger" style="color:red">@ViewBag.Error</span>
                        <p></p>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Login" class="control-label"><b style="font-size:30px">Login</b></label>:
                        <input asp-for="Login" class="form-control" style="font-size:20px"/>
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"><b style="font-size:30px">Password</b></label>:
                        <input asp-for="Password" class="form-control" style="font-size:20px" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Sign In" class="submit-button" style="font-size:20px" />
                    </div>

                </form>
            </div>
        </center>
</div>


